<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="mb-4 text-center">{{ 'terms_of_service.title' | translate }}</h1>
            <div class="content-section card p-4 shadow-sm border-0">
                <h3>{{ 'terms_of_service.acceptance_title' | translate }}</h3>
                <p>{{ 'terms_of_service.acceptance_desc' | translate }}</p>

                <h3 class="mt-4">{{ 'terms_of_service.license_title' | translate }}</h3>
                <p>{{ 'terms_of_service.license_desc' | translate }}</p>

                <h3 class="mt-4">{{ 'terms_of_service.usage_title' | translate }}</h3>
                <p>{{ 'terms_of_service.usage_desc' | translate }}</p>

                <h3 class="mt-4">{{ 'terms_of_service.content_title' | translate }}</h3>
                <p>{{ 'terms_of_service.content_desc' | translate }}</p>

                <h3 class="mt-4">{{ 'terms_of_service.modifications_title' | translate }}</h3>
                <p>{{ 'terms_of_service.modifications_desc' | translate }}</p>
            </div>
        </div>
    </div>
</div>